<div id="main">
  <h3>Adcash test assignment</h3>
  <label for="tagInput">
    Type tags here using comma, semicolon and line break as delimiters
  </label>
  <textarea id="tagInput" class="form-control" [rows]="5"
            autocomplete="false" [formControl]="tagsForm"></textarea>
  <button type="button" class="btn btn-primary"
          (click)="addTags(); tagsForm.setValue('')">Add tags</button>
  <div class="card">
    <div class="card-header">
      <span *ngFor="let tag of displayedTags, let i = index"
            [ngClass]="tag < 0 ? 'badge badge-info' : 'badge badge-danger'">{{tag}}
          <button type="button" id="badge-btn" class="close" aria-label="Close"
                  style="color: white" (click)="removeTag(i)">
              <span aria-hidden="true">&times;</span>
          </button>  
      </span>
    </div>
  </div>
  <button type="button" class="btn btn-primary" (click)="open(editTagsModal)">
    Edit tags
  </button>
</div>

<ng-template #editTagsModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit tags</h4>
      <button type="button" class="close" aria-label="Close"
              (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="editTagInput">
        Edit tags here using comma, semicolon and line break as delimiters
      </label>
      <textarea id="editTagInput" class="form-control" [rows]="5"
                autocomplete="false" [formControl]="editTagsForm">
      </textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary"
              (click)="editTags(); modal.close()">Save</button>
    </div>
</ng-template>
